html {
  font-family: 'Asap', 'Poppins', sans-serif;
  display: flex;
}

header {
  position: fixed;
  margin: 0;
  z-index: 2;
}

main {
  position: relative;
  top: 60px;
}

.navbar {
  position: fixed;
  height: 65px;
  width: 100vw;
  display: flex;
  justify-content: baseline;
  font-size: 1.2rem;
  background: linear-gradient(5deg, #298135 30%, #1b9c2d 40%, #298135 70%);
  color: #f1f1f1;
  box-shadow: 0 0 15px #1a1a1a;
  z-index: 2;
  font-weight: bold;
}

.nav-link {
  transition: all .1s ease-in-out;
  font-weight: 500;
  color: #f1f1f1;
  /* background-color: #53ac5f; */
  border-radius: 10px;
  font-weight: bold;
}

.nav-link:hover {
  transition: all .1s ease-in-out;
  background-color: #53ac5f;
  color: #f1f1f1;
}

.form-inline {
  position: relative;
  display: flex;
  padding: 0 10px;
  margin: 0 10px;
}

.form-inline input {
  position: relative;
  right: -50px;
  width: 250px;
}

.slider-container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: -30px;
  left: -10%;
  width: 1000px;
  margin: auto;
  height: 600px;
  max-width: 80rem;
  border-radius: 0.5rem;
  overflow: hidden;
  object-fit: fill;
  border-radius: 10px;
}
.slide {
  position: absolute;
  width: 1000px;
  height: 600px;
  display: grid;
  place-items: center;
  transition: all 0.9s ease-in-out;
  text-align: center;
  border-radius: 10px;
}
.slide-img {
  height: 600px;
  border-radius: 10px;
}
.slide h1 {
  font-size: 5rem;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
iframe {
  position: relative;
  top: 10px;
  left: 245px;
  width: 70vw;
  height: 100vh;
}

td {
  position: relative;
  top: 5px;
  left: 0%;
  padding: 5px 30px;
}

.container-fluid {
  position: relative;
  top: 50px;
  left: 350px;
}

.light {
  background-color: #c2c2c2;
}

#club-details {
  position: relative;
  top: -430px;
  left: 750px;
  width: 400px;
  margin: 40px 0 40px -20px;
  padding: 10px 0;
  font-size: 1.2rem;
  /* border: 1px solid #1a1a1a; */
}

#map-iframe {
  position: relative;
  top: -350px;
  left: -250px;
  width: 800px;
  height: 500px;
  margin: 20px 0;
}

#form-control {
  position: relative;
  top: -950px;
  left: 80%;
  width: 500px;
  height: 450px;
}

#form-control input,
#form-control textarea {
  width: 100%;
  margin: 10px 0;
}

#form-control label {
  width: 100%;
  background-color: #c2c2c2;
}

#form-control h2 {
  text-align: center;
  font-size: 2.3rem;
  margin: 20px 0;
}

#club-phone,
#club-address,
#club-postal {
  margin: 15px 0;
}

#executive-details {
  position: relative;
  left: -250px;
}

.gallery-container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: -100px;
  left: 0%;
  width: 1000px;
  margin: auto;
  height: 600px;
  max-width: 80rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 2rem;
  object-fit: fill;
  border-radius: 10px;
}
.gallery {
  position: absolute;
  width: 1000px;
  height: 600px;
  display: grid;
  place-items: center;
  transition: all 0.9s ease-in-out;
  text-align: center;
  border-radius: 10px;
}
.gallery img {
  height: 500px;
  border-radius: 10px;
}
.gallery h1 {
  font-size: 5rem;
}
.gallery:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#albums {
  position: relative;
  top: -32px;
  left: -275px;
}

#notices {
  position: relative;
  margin: 50px 0;
  padding: 50px 0;
  left: -10%;
}

#popi-img {
  position: absolute;
  top: -25px;
  left: -300px;
  width: 200px;
  z-index: 1;
  border-radius: 10px;
}

#popi-img:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

#popi-disclaimer {
  position: absolute;
  top: 50px;
  left: -300px;
  width: 750px;
  height: 500px;
  border: 1px solid #1a1a1a44;
  box-shadow: 0 0 15px #1a1a1a;
  z-index: 2;
  background-color: #f1f1f1;
  margin: 20px;
  padding: 20px;
}

#text-container {
  position: relative;
  top: -30px;
  width: 800px;
  height: 100%;
}

#directions-container {
  position: relative;
  top: -30px;
  width: 800px;
  height: 100%;
}